body{
    background-image: url(./home.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;      
    margin: 0;              
    display: flex;         
    flex-direction: column; 
    justify-content: center;
    align-items: center;    
    text-align: center;    
}

p, h1 {
    font-size:1rem;
    font-family: Helvetica, sans-serif;
    color: #c86082;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    font-size:1rem;
    font-family: Helvetica, sans-serif;
    color: #ffeaed;
    font-size: 2rem;
    background-color: #ed91aa;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
}

h1 {
    font-size: 7rem;
}

p{
    font-size: 2rem;
}

div {
    display: flex;
    justify-content: space-between;
    width: 200px;
}