body{
    background-image: url(./math.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;      
    margin: 0;              
    display: flex;         
    flex-direction: column; 
    justify-content: center;
    align-items: center;    
    text-align: center;
    flex-wrap: wrap;    
}

p, h1 {
    font-size:1rem;
    font-family: Helvetica, sans-serif;
    color: #c86082;
    padding: 0;
    margin: 10px;
}

a {
    text-decoration: none;
    font-size:1rem;
    font-family: Helvetica, sans-serif;
    color: #ffeaed;
    font-size: 2rem;
    background-color: #ed91aa;
    border-radius: 5px;
    padding: 10px;
    margin-top: 0px;
}

h1 {
    font-size: 7rem;
}

p{
    font-size: 2.5rem;
}

img{
    height: 276.3px;
    border: #c86082 solid 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 35px;

}

input, input[placeholder]{
    color: #666666;
    border: none;
    background-color: #ecbcc3;
    text-align: center;
}